# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
.venv/
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Test and coverage
.coverage
coverage.xml
*.cover
*.log
nosetests.xml
test-results/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache
pytestcache/

# Miscellaneous
*.DS_Store
*.pyo
*.pyd

# Plots
plots/
*.png
*.jpg
*.jpeg
*.html

# GEOJSON files
*.geojson

# memory bank folder
memory-bank/